#Works for bases smaller than 10
#For bigger bases result may be false


#This function change number in decymal system to different numeral system
def from_dec(number, base):
    
    pow_max = 0
    mult = 0
    result = ''
    while base ** (pow_max + 1) < number:
        pow_max +=1
    
    
    if base ** (pow_max + 1 )== number:
        result = '1'
        while pow_max >= 0:
            result = result + '0'
            pow_max -=1

            
    else:
    
        while number > 0:
            while number >=  (mult + 1) * (base ** pow_max):
                mult +=1
            result = result + str(mult)
            #print(mult)
            number = number - mult * (base ** pow_max)
            pow_max -=1
            mult = 0

        while pow_max >= 0:
            pow_max -=1
            result = result + '0'
            #print(0)
            
    print(result)
    


#This function change number in nondecimal numeral system to decimal

def to_dec(number , base):
    numb = str(number)
    nlength = len(numb)
    i = 0
    result = 0
    
    while i < nlength:
        
        a = int(numb[i])
        a = a * (base ** (nlength - i - 1))
        result +=a
        i +=1
        
    print(result)
